{% load static %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--User profile info-->
            {% if user.is_authenticated %}
            <!--Logout button-->
            <div class="position-absolute top-10 end-0 me-4">
                <a href="{% url 'user:logout' %}" style="margin-left: 10px;">
                    <!--<img src="{% static '/base/assets/logout-svgrepo-com.svg' %}" style="height: 1%; width: 1%;"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="Black" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
            <div class="dropdown profile-container">
                <span class="dropdown-toggle mr-2 d-none d-lg-inline text-gray-600 small" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{ username }}
                    {% if user_profile %}
                        <img src="{{ user_profile.url }}" alt="Avatar" class="avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                    {% else %}
                        <img src="{% static 'user/img/noun-user-avatar-2540366.svg' %}" alt="Avatar" class="avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                    {% endif %}
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'user:shop' %}">Your Shop</a></li>
                </ul>
            </div>
            <!--User's cart-->
            <div class="buttons ms-4">
                <button class="btn btn-outline-dark d-flex" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white rounded-pill ">0</span>
                </button>
            </div>
            {% else %}
                <!--Register button-->
                    <form class="d-flex ms-4">
                        <button class="btn btn-outline-dark link" type="submit">
                            <a class="link" href="{% url 'user:register' %}">Sign up</a>
                        </button>
                    </form>
            {% endif %}

            <!--End of User profile info-->
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'base:home' %}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <!--About Shop-->
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <!--Shop specifying-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'base:home' %}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'base:most_viewed' %}">Most Viewed</a></li>
                                <li><a class="dropdown-item" href="{% url 'base:most_rated' %}">Popular Items</a></li>
                                <li><a class="dropdown-item" href="{% url 'base:new_arrivals' %}">New Arrivals</a></li>
                            </ul>
                        </li>
                        <!--End of Shop specifying-->
                    </ul>
                </div>
                <!--Search bar-->
                <div class="input-group d-flex">
                    <form action="{% url 'base:home_search' %}">
                        {% csrf_token %}
                        <div class="input-group ms-lg-5">
                            <button class="btn btn-primary" type="submit" id="button-addon1">Search</button>
                            <input type="text" name = "SearchQuery" class="form-control" placeholder="Search Items" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </form>
                </div>
                <!--End of Search bar-->
            </div>
        </nav>

        <!--Custom css-->
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/navbar.css' %}" />

        