{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.pic_sample.url}}" /></div>
                    <div class="col-md-6">
                        views: {{object.hits.count}}
                        <h1 class="display-5 fw-bolder">{{product.product}}</h1>
                        <div class="fs-5 mb-5">
                            <!--<span class="text-decoration-line-through">$45.00</span>   class for off price -->
                            <div class="fs-5 mb-5">
                                <span id="price">{{ product.price }}</span> USD
                            </div>
                        </div>
                            <!--product specs-->
                            <h3 class="">
                                time_limit:{{ product.period }}
                            </h3>
                            <h3 class="">
                                user_amount:{{ product.max_users }}
                            </h3>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        {% if related_products %}
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="transition: 0ms;">
                    {% for related_product in related_products %}
                    <div class="col mb-5"> 
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{related_product.pic_sample.url}}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ related_product.product }}</h5>
                                    <!-- Product price-->
                                    {{ related_product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->  
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'base:product' related_product.id %}">View</a></div>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}
                </div>
                
            </div>
        </section>
        {% endif %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- ajax call-->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static '/base/js/detail_script.js' %}"></script>
{% endblock %}