{% extends 'user/base.html' %}
{% load static %}

{% block search-bar %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  action="{% url 'user:new_products_search' %}">
  {% csrf_token %}
    <div class="input-group">
      <input type="text" name = "SearchQuery" class="form-control bg-light border-0 small" placeholder="Search for..."
        aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
      </div>
    </div>
</form>
{% endblock %}

{% block content %}
<div class="container-fluid">               
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Check Products</h1>
    </div>
    <div class="container">
      <hr>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">  
          {% for newproduct in newproducts %}
            <div class="card">
              <img src="{{ newproduct.pic_sample.url }}" width = "100" height="200" style="border-radius: 5px"  class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{newproduct.product}}</h5>
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'user:new_products_approve' newproduct.id %}">View</a></div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Creation Date:{{newproduct.imported_at}}</small>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>                
    
        
        
    
{% endblock %}