{% extends 'user/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load ratings %}
{% load comment_tags %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{product.product}} stats</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-up mr-1"></i>Update the product</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Remaining quantity -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                Remaining quantity</div>
                            <div class="h5 mb-0 font-weight-bold text-secondary">{{product.quantity}}</div>
                        </div>
                        <div class="col-auto">
                            <img src="{% static 'user/img/noun-quantity-5991412.svg' %}" width="50" height="50" alt="Quantity Icon"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Price</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{product.price}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sold -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Sold
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{product.sold_quantity}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Earnings -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Total Earnings for {{product.product}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{earnings}}</div>
                        </div>
                        <div class="col-auto text-info">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for chart and right-aligned cards -->
    <div class="row">
        <!-- Chart container -->
        <div class="col-xl-9 col-lg-8 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div id="chartContainer" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        
        <!-- Right-aligned cards -->
        <div class="col-xl-3 col-lg-4">
            <!-- Pending orders -->
            <div class="mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Pending orders</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_orders}}</div>
                            </div>
                            <div class="col-auto text-primary">
                                <i class='far fa-clock' style='font-size:30px'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shipped orders -->
            <div class="mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Shipped orders</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{shipped_orders}}</div>
                            </div>
                            <div class="col-auto text-success">
                                <i class="fa fa-check" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cancelled orders -->
            <div class="mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Cancelled orders</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{cancelled}}</div>
                            </div>
                            <div class="col-auto text-danger">
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4" style="width: 100%;">
            {% render_comments product request %}
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!-- Scripts for chart -->
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            title: {
                text: "View counts"
            },
            axisY: {
                title: "Counts",
            },
            data: [{
                type: "line",
                yValueFormatString: "#,### Steps",
                dataPoints: {{ views|safe }}
            }]
        });
        chart.render();
    }
</script>
<script src="{% static 'canvasjs.min.js' %}"></script>
{% endblock %}
