{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!--Styles-->
        <link rel="stylesheet" href="{% static '/base/css/cart.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        <link href="{% static '/base/css/color-selector.css' %}" rel="stylesheet"/>
    </head>
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
                    
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Purchased Products</h1>
        </div>
        <div class="col-md-12">
            <div class = "card card-primary">
                <div class="card-header">
                    <h3 class = "card-title mb-0 float-left">Status</h3>
                </div>
            </div>
        </div>
    </div>                
    <!-- /.container-fluid -->

    <div class="container">
        <div class="position-relative">
            <div class="col-xl-4 position-absolute end-0">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                        </div>
                        <div class="card-body p-4 pt-2">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td class="text-end">$ {{ total }}</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Total :</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                $ {{ total }}
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for cart in carts %}
            <div class="col-xl-8">
                <div class="card border shadow-none">
                
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8">
                                    {% if cart.progress_status == '100' %}
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: {{cart.progress_status}}%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% elif cart.progress_status == '00' %}
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% else %}
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width: {{cart.progress_status}}%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm d-flex justify-content-center mt-n2">
                                    {% if cart.progress_status == '100' %}
                                        <p class="text-success fs-5 fw-bold">
                                            {{cart.get_progress_status_display}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                            </svg>   
                                        </p>
                                    {% elif cart.progress_status == '00' %}
                                        <p class="text-danger fs-5 fw-bold">
                                            {{cart.get_progress_status_display}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                            </svg>
                                        </p>
                                    {% else %}
                                        <p class="text-primary fs-5 fw-bold">
                                            {{cart.get_progress_status_display}}   
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start border-bottom pb-3">
                            <div class="me-4">
                                <img src="{{cart.product.pic_sample.url}}" alt class="avatar-lg rounded " width="38px" height="38px">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">{{ cart.product }}</a></h5>
                                    <p class="mb-0 mt-1">
                                        Color : <span class="fw-medium color-swatch" data-color="{{ cart.color }}" style="vertical-align: middle; width: 35px; height: 35px; background-color: {{cart.color}};"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Price</p>
                                        <h5 class="mb-0 mt-2">${{ cart.cart_product_price }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Quantity</p>
                                        <div class="d-inline-flex">
                                            {{ cart.quantity }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Total</p>
                                        <h5>${{cart.total_cart_price}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                <!-- Add the same structure for other product cards -->
            </div>
            {% endfor %}
        </div>
    
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
            // Your scripts here
        </script>


<!-- End of Main Content -->
{% endblock %}