{% extends 'user/register_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Register as seller</h1>
		<div class="main-agileinfo">
            {% if form.non_field_errors %}
			    <div class="errors">
				    {% for error in form.non_field_errors %}
					    <span>{{error}}</span>
				    {% endfor %}
			    </div>
		    {% endif %}
			<div class="agileits-top">
				<form class="form-group" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
			</div>
		</div>
	<!-- //main --> 
{% endblock %}