{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">               
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Shop</h1>
    </div>
    <div class="container">
      <div class="text-center">
        <a class="btn btn-outline-danger mt-auto btn-sm" style="height: 22px; width: 125px; border-radius: 10px; padding: 0px;" href="{% url 'user:shop_mostviewed' %}">Most Viewed</a>
        <a class="btn btn-outline-danger mt-auto btn-sm" style="height: 22px; width: 125px; border-radius: 10px; padding: 0px;" href="{% url 'user:shop_mostrated' %}">Most Rated</a>
        <a class="btn btn-outline-danger mt-auto btn-sm" style="height: 22px; width: 125px; border-radius: 10px; padding: 0px;" href="{% url 'user:shop_newarrivals' %}">New Arrivals</a>
        <a class="btn btn-outline-danger mt-auto btn-sm" style="height: 22px; width: 125px; border-radius: 10px; padding: 0px;" href="{% url 'user:shop_unavailables' %}">Unavailables</a>
      </div>
      <hr>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">  
          {% for created_product in created_products %}
            <div class="card">
              <img src="{{ created_product.pic_sample.url }}" width = "100" height="200" style="border-radius: 5px"  class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{created_product.product}}</h5>
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'base:product' created_product.id %}">View</a></div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>                
    
        
        
    
{% endblock %}